<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />

    <!--====== Title ======-->
    <title>OenodLive | Sign Up</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta
        name="description"
        content="OENOD LIVE powered by WebRTC and mediasoup, Real-time Secure Fast video calls, messaging and screen sharing capabilities in the browser."
    />
    <meta
        name="keywords"
        content="webrtc, oenod, mediasoup, mediasoup-client, self hosted, voip, sip, real-time communications, chat, messaging, meet, webrtc stun, webrtc turn, webrtc p2p, webrtc sfu, video meeting, video chat, video conference, multi video chat, multi video conference, peer to peer, p2p, sfu, rtc, alternative to, zoom, microsoft teams, google meet, jitsi, meeting"
    />


    <meta property="og:type" content="app-webrtc" />
    <meta property="og:site_name" content="OENOD LIVE" />
    <meta property="og:title" content="Click the link to make a call." />
    <meta
        property="og:description"
        content="OENOD LIVE calling provides real-time video calls, messaging and screen sharing."
    />

    <!--====== Favicon Icon ======-->
    <link
      rel="shortcut icon"
      href="/views/assets/images/favicon.png"
      type="image/png"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

    <!--====== CSS Files LinkUp ======-->
    <link rel="stylesheet" href="/views/assets/css/animate.css" />
    <link rel="stylesheet" href="/views/assets/css/glightbox.min.css" />
    <link rel="stylesheet" href="/views/assets/css/lineIcons.css" />
    <link rel="stylesheet" href="/views/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/views/assets/css/style.css" />
  </head>

<body>


    <!--====== PRELOADER PART START ======-->
    <div class="preloader">
        <div class="loader">
          <div class="spinner">
            <div class="spinner-container">
              <div class="spinner-rotator">
                <div class="spinner-left">
                  <div class="spinner-circle"></div>
                </div>
                <div class="spinner-right">
                  <div class="spinner-circle"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--====== PRELOADER PART ENDS ======-->

    <!--====== HEADER PART START ======-->
    <header class="header-area" style="width: 100vw; height: 100vh; background: rgb(216, 216, 213)" >
    <!-- <header class="header-area" style="width: 100vw; height: 100vh; background: url(../images/login-back.png) " > -->
        <div class="navbar-area">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 ">
                <nav class="navbar navbar-expand-lg">
                  <a class="navbar-brand" href="">
                    <img src="/views/assets/images/logo/logo.svg" width="100" alt="Logo" />
                  </a>
                </nav>
                <!-- navbar -->
              </div>
            </div>
            <!-- row -->
          </div>
          <!-- container -->
        </div>
        <!-- navbar area -->
  
        <div
          id="login"
          class="header-hero bg_cover"
        >
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-12">
                <div class="header-hero-content text-center">
                  <div class="row" >
                    <div class="col-lg-6 col-md-12 col-sm-12" >
                      <h2
                        class="header-title wow fadeInUp"
                        data-wow-duration="1.3s"
                        data-wow-delay="0.5s"
                      >
                        Sign Up
                      </h2>
                      <p class="header-text mt-30" >
                        Do you already have account?&nbsp;&nbsp;&nbsp; <a href="/login"> Login Here &nbsp;&nbsp;&nbsp; <i class="fas fa-long-arrow-right" ></i> </a>
                      </p>
                      <input type="text" class="form-input-fname col-lg-5 mt-30" placeholder="First Name" >
                      <input type="text" class="form-input-lname col-lg-5 mt-30" placeholder="Last Name" >
                      <input type="text" class="form-input col-lg-12 mt-30" placeholder="email" >
                      <input type="password" class="form-input col-lg-12 mt-30" placeholder="password" >
                      <input type="password" class="form-input col-lg-12 mt-30" placeholder="confirm your password" >
                      <a class="signup-page-btn mt-40 pt-15">Create Account</a>
                    </div>
                  </div>
                </div>
                <!-- header hero content -->
              </div>
            </div>
          </div>
          <!-- container -->
          <div id="particles-1" class="particles"></div>
        </div>
        <!-- header hero -->
      </header>
      <!--====== HEADER PART ENDS ======-->


    <!--====== Javascript Files ======-->
    <script src="/views/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/views/assets/js/wow.min.js"></script>
    <script src="/views/assets/js/glightbox.min.js"></script>
    <script src="/views/assets/js/count-up.min.js"></script>
    <script src="/views/assets/js/particles.min.js"></script>
    <script src="/views/assets/js/main.js"></script>
    <script defer src="../js/landing.js"></script>
    <script defer src="../js/newRoom.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script>startApp();</script>
</body>

</html>